@model iCopy.Web.Models.DataTable<iCopy.Model.Response.PrintRequest>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = _sharedLocalizer.PrintRequest;
}
@if (TempData["success"] != null)
{
<div class="alert alert-solid-success alert-bold" role="alert">
    <div class="alert-text">@TempData["success"]</div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="la la-close"></i></span>
        </button>
    </div>
</div>
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-map-marker-alt"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @_sharedLocalizer.PrintRequest
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <a href="@Settings.Routes.PrintRequest.Insert" class="btn btn-brand btn-icon-sm">
                        <i class="la la-plus"></i>
                        @_sharedLocalizer.AddPrintRequest
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="kt-form kt-form--fit kt-margin-b-20 col-md-12">
                <div id="search-parameters">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.Status:</label>
                            <select name="status" asp-items="@(await _selectList.Status())" class="form-control kt-select2" id="status-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.PrintPagesOptions:</label>
                            <select name="options" asp-items="@(await _selectList.PrintPagesOptions())" class="form-control kt-select2" id="options-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.SidePrintOption:</label>
                            <select name="sideprint" asp-items="@(await _selectList.SidePrintOption())" class="form-control kt-select2" id="side-print-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.CollatedPrintOptions:</label>
                            <select name="collatedprintoptions" asp-items="@(await _selectList.CollatedPrintOptions())" class="form-control kt-select2" id="collatedprintoptions-list"></select>
                        </div>
                    </div>
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.Orientation:</label>
                            <select name="orientation" asp-items="@(await _selectList.Orientation())" class="form-control kt-select2" id="orientation-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.Letter:</label>
                            <select name="letter" asp-items="@(await _selectList.Letter())" class="form-control kt-select2" id="letter-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.PagePerSheet:</label>
                            <select name="pagepersheet" asp-items="@(await _selectList.PagePerSheet())" class="form-control kt-select2" id="pagepersheet-list"></select>
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>&nbsp;</label>
                            <div class="btn-group btn-group-toggle col-md-12 p-0" data-toggle="buttons" data-col-index="3">
                                <label class="btn btn-secondary active">
                                    <input name="active" id="active" type="radio" autocomplete="off" checked class="form-control" value=""> @_sharedLocalizer.All
                                </label>
                                <label class="btn btn-secondary">
                                    <input name="active" id="active" type="radio" autocomplete="off" class="form-control" value="true"> @_sharedLocalizer.Active
                                </label>
                                <label class="btn btn-secondary">
                                    <input name="active" id="active" type="radio" autocomplete="off" class="form-control" value="false"> @_sharedLocalizer.Inactive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-secondary btn-secondary--icon pull-right ml-3" id="datatable-reset">
                            <span>
                                <i class="la la-close"></i>
                                <span>@_sharedLocalizer.Reset</span>
                            </span>
                        </button>
                        <button class="btn btn-brand btn-brand--icon pull-right" id="datatable-search">
                            <span>
                                <i class="la la-search"></i>
                                <span>@_sharedLocalizer.Search</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover text-dark no-footer dtr-inline" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>@_sharedLocalizer.Status</th>
                    <th>@_sharedLocalizer.PrintPagesOptions</th>
                    <th>@_sharedLocalizer.SidePrintOption</th>
                    <th>@_sharedLocalizer.CollatedPrintOptions</th>
                    <th>@_sharedLocalizer.Orientation</th>
                    <th>@_sharedLocalizer.Letter</th>
                    <th>@_sharedLocalizer.PagePerSheet</th>
                    <th>@_sharedLocalizer.Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.data?.Any() ?? false)
                {
                    foreach (var item in Model.data)
                    {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.FilePath</td>
                    <td>@item.Status</td>
                    <td>@item.Options</td>
                    <td>@item.Side</td>
                    <td>@item.Collate</td>
                    <td>@item.Orientation</td>
                    <td>@item.Letter</td>
                    <td>@item.Pages</td>                
                    <td></td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var DataTable = {
        init: function () {
            var datatable = $("#datatable");
            datatable.DataTable({
                responsive: true,
                deferLoading: '@Model.recordsTotal',
                processing: true,
                serverSide: true,
                searching: false,
                autoWidth: true,
                pageLength: 15,
                lengthMenu: [10, 15, 25, 50],
                order: [[1, 'asc']],
                language: {
                    'lengthMenu': '_MENU_',
                },
                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
			<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                ajax: {
                    url: "@Settings.Routes.PrintRequest.GetData",
                    dataType: 'json',
                    type: 'POST',
                    data: function (searchData) {
                        searchData.Search = {
                            Name : $("#name").val(),
                            Active: $("#active:checked").val(),
                            ContactAgent: $("#contact-agent").val(),
                            CountryID: $("#countries-list").val(),
                            CityID: $("#cities-list").val(),
                            JIB: $("#jib").val()
                        };
                        return searchData;
                    }
                },
                columns: [
                    { data: "id" },
                    { data: 'filePath', visible: false },
                    { data: 'status' },
                    { data: 'options' },
                    { data: 'side' },
                    { data: 'collate' },
                    { data: 'orientation' },
                    { data: 'letter' },
                    { data: 'pages' },
                    { data: 'actions' }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        name: 'ID',
                        className: 'text-center'
                    },
                    {
                        targets: 1,
                        name: 'filePath',
                        className: 'text-center'
                    },
                    {
                        targets: 2,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Status)'
                    },
                    {
                        targets: 3,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Options)'
                    },
                    {
                        targets: 4,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Side)'
                    },
                    {
                        targets: 5,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Collate)'
                    },
                    {
                        targets: 6,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Orientation)',
                        orderable: false
                    },
                    {
                        targets: 7,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Letter)',
                        orderable: false
                    },
                     {
                        targets: 8,
                        name: '@nameof(iCopy.Model.Request.PrintRequest.Pages)',
                        orderable: false
                    },
                    {
                        targets: 9,
                        orderable: false,
                        className: 'text-center align-middle',
                        render: function (data, type, full, meta) {
                            return `
                        <a href="@Settings.Routes.PrintRequest.Details/${full.id}" ajax-add="modal-lg" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-info-circle"></i></a>
                        <a href="@Settings.Routes.PrintRequest.Delete/${full.id}" ajax-delete="true" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-trash"></i></a>
                        <a href="@Settings.Routes.PrintRequest.ChangeActiveStatus/${full.id}" ajax-activate="true" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-toggle-on"></i></a>
                                <a href="\\${full.filePath}"><i class="la la-download"></i></a>`;
                           
                        }
                    }
                ]
            });
            return datatable;
        }
    }

    $(document).ready(function () {
        DataTable.init();
        $('#datatable-search').on('click', function (e) {
            e.preventDefault();
            $("#datatable").DataTable().ajax.reload();
        });
        $("#datatable-reset").on('click', function (e) {
            $("#search-parameters input[type='text']").val('');
            $("#search-parameters input[type='number']").val('');
            $("#search-parameters input[type=radio]:first").parent().trigger('click');
            $('.select2').prop('selectedIndex', 0).trigger('change');
            $("#datatable-search").trigger('click');
        });
        $('.kt-select2').select2({ width: '100%' });
    });
</script>

