@model iCopy.Web.Models.DataTable<iCopy.Model.Response.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = _sharedLocalizer.UserSettings;
}
@if (TempData["success"] != null)
{
    <div class="alert alert-solid-success alert-bold" role="alert">
        <div class="alert-text">@TempData["success"]</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="la la-close"></i></span>
            </button>
        </div>
    </div>
}
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fa fa-map-marker-alt"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @_sharedLocalizer.UserSettings
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="kt-form kt-form--fit kt-margin-b-20 col-md-12">
                <div id="search-parameters">
                    <div class="row kt-margin-b-20">
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.Username:</label>
                            <input name="Username" id="Username" type="text" class="form-control kt-input" placeholder="@_sharedLocalizer.Username">
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>@_sharedLocalizer.Email:</label>
                            <input name="Email" id="Email" type="text" class="form-control kt-input" placeholder="@_sharedLocalizer.Email">
                        </div>
                        <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                            <label>&nbsp;</label>
                            <div class="btn-group btn-group-toggle col-md-12 p-0" data-toggle="buttons" data-col-index="3">
                                <label class="btn btn-secondary active">
                                    <input name="active" id="active" type="radio" autocomplete="off" checked class="form-control" value=""> @_sharedLocalizer.All
                                </label>
                                <label class="btn btn-secondary">
                                    <input name="active" id="active" type="radio" autocomplete="off" class="form-control" value="true"> @_sharedLocalizer.Active
                                </label>
                                <label class="btn btn-secondary">
                                    <input name="active" id="active" type="radio" autocomplete="off" class="form-control" value="false"> @_sharedLocalizer.Inactive
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-separator kt-separator--md kt-separator--dashed"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-secondary btn-secondary--icon pull-right ml-3" id="datatable-reset">
                            <span>
                                <i class="la la-close"></i>
                                <span>@_sharedLocalizer.Reset</span>
                            </span>
                        </button>
                        <button class="btn btn-brand btn-brand--icon pull-right" id="datatable-search">
                            <span>
                                <i class="la la-search"></i>
                                <span>@_sharedLocalizer.Search</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-striped table-bordered table-hover text-dark no-footer dtr-inline" id="datatable">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>@_sharedLocalizer.Username  </th>
                    <th>@_sharedLocalizer.Email</th>
                    <th>@_sharedLocalizer.PhoneNumber</th>
                    <th>@_sharedLocalizer.TwoFactorEnabled</th>
                    <th>@_sharedLocalizer.Active</th>
                    <th>@_sharedLocalizer.Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.data)
                {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Username</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.TwoFactorEnabled</td>
                    <td>@item.Active</td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    var DataTable = {
        init: function () {
            var datatable = $("#datatable");
            datatable.DataTable({
                responsive: true,
                deferLoading: '@Model.recordsTotal',
                processing: true,
                serverSide: true,
                searching: false,
                autoWidth: true,
                pageLength: 15,
                lengthMenu: [10, 15, 25, 50],
                order: [[1, 'asc']],
                language: {
                    'lengthMenu': '_MENU_',
                },
                // DOM Layout settings
                dom: `<'row'<'col-sm-12'tr>>
			<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                ajax: {
                    url: "@Settings.Routes.User.GetData",
                    dataType: 'json',
                    type: 'POST',
                    data: function (searchData) {
                        searchData.Search = {
                            Email: $("#Email").val(),
                            Username: $("#Username").val(),
                            Active: $("#active:checked").val(),
                        };
                        return searchData;
                    }
                },
                columns: [
                    { data: "id" },
                    { data: "username" },
                    { data: 'email' },
                    { data: 'phoneNumber' },
                    { data: 'TwoFactorEnabled' },
                    { data: 'active' },
                    { data: 'actions' }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        name: 'ID',
                        className: 'text-center'
                    },
                    {
                        targets: 1,
                        name: '"Username'
                    },
                    {
                        targets: 2,
                        name: 'Email'
                    },
                    {
                        targets: 3,
                        name: 'PhoneNumber',
                        className: 'text-center align-middle',
                        orderable: false
                    },
                    {
                        targets: 4,
                        name: 'TwoFactorEnabled',
                        className: 'text-center align-middle',
                        orderable: false,
                        render: function (data, type, full, meta) {
                            if (full.TwoFactorEnabled == 'True' || full.TwoFactorEnabled == true) {
                                return `<span class="kt-badge kt-badge--inline kt-badge--success">@_sharedLocalizer.Enabled</span>`
                            }
                            return `<span class="kt-badge kt-badge--inline kt-badge--danger">@_sharedLocalizer.Disabled</span>`
                        }
                    },
                    {
                        targets: 5,
                        orderable: false,
                        className: 'text-center align-middle',
                        render: function (data, type, full, meta) {
                            if (full.active == 'True' || full.active == true) {
                                return `<span class="kt-badge kt-badge--inline kt-badge--success">@_sharedLocalizer.Active</span>`
                            }
                            return `<span class="kt-badge kt-badge--inline kt-badge--danger">@_sharedLocalizer.Inactive</span>`
                        }
                    },
                    {
                        targets: -1,
                        orderable: false,
                        className: 'text-center align-middle',
                        render: function (data, type, full, meta) {
                            return `
<a href="@Settings.Routes.User.Details/${full.id}" ajax-add="modal-lg" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-info-circle"></i></a>
<a href="@Settings.Routes.User.ChangeActiveStatus/${full.id}" ajax-activate="true" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-toggle-on"></i></a>
<span class="dropdown">
                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                              <i class="la la-ellipsis-h"></i>
                            </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="@Settings.Routes.User.Update/${full.id}"><i class="la la-edit"></i> @_sharedLocalizer.Update</a>
                            </div>
                        </span>
`;
                        }
                    }
                ]
            });
            return datatable;
        }
    }

    $(document).ready(function () {
        DataTable.init();
        $('#datatable-search').on('click', function (e) {
            e.preventDefault();
            $("#datatable").DataTable().ajax.reload();
        });
        $("#datatable-reset").on('click', function (e) {
            $("#search-parameters input[type='text']").val('');
            $("#search-parameters input[type='number']").val('');
            $("#search-parameters input[type=radio]:first").parent().trigger('click');
            $('.select2').prop('selectedIndex', 0).trigger('change');
            $("#datatable-search").trigger('click');
        });
        $('.kt-select2').select2({width: '100%'});
    });
</script>